@mixin alignCenterVertical {
  display: flex;
  align-items: center;
}
@mixin alignCenterHorizontal {
  display: flex;
  justify-content: center;
}
@mixin alignCenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin alignCenterRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@mixin alignCenterLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@mixin alignTopLeft {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@mixin alignCenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin alignCenterAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin alignLeft {
  display: flex;
  justify-content: flex-start;
}